# setting non-sensitive env vars
# for setting passwords, etc. use `eb setenv SECRET_PASS=password123`
option_settings:
  # app entry point
  - option_name: NodeCommand
    value: node index.js
  # run `npm install` with `--production` so devDependencies are not installed
  - option_name: NPM_CONFIG_PRODUCTION
    value: true
  # the address for the proxy, for the fetch requests
  - option_name: BACKEND_ADDR
    value: http://super-nova-server-dev.nvabmzt9vd.us-west-2.elasticbeanstalk.com/
