html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
